In [3]:
import duckdb
from minio import Minio

# Connect to MinIO
minio_client = Minio(
    "localhost:9000",
    access_key="minioadmin",
    secret_key="minioadmin",
    secure=False
)

# Configure DuckDB for S3 access
conn = duckdb.connect()
conn.execute("""
        INSTALL httpfs;
        LOAD httpfs;
        SET s3_endpoint='minio:9000';
        SET s3_access_key_id='minioadmin';
        SET s3_secret_access_key='minioadmin';
        SET s3_use_ssl=false;
        SET s3_url_style='path';
""")

# Query data from MinIO
result = conn.execute("""
    select country, state, count(distinct(brewery_type)) as unique_types
        from read_parquet(
            's3a://blake/silver/breweries/**/*.parquet',
            hive_partitioning=1
        )
        group by country, state;
""").fetchdf()

print(result)

          country            state  unique_types
0   united_states         colorado             8
1   united_states       new_jersey             6
2   united_states            idaho             6
3   united_states          montana             5
4     south_korea  gyeongsangbukdo             2
..            ...              ...           ...
92    south_korea          daejeon             1
93        ireland        waterford             1
94         france  bouche_du_rhône             1
95        ireland           offaly             1
96        ireland          wexford             1

[97 rows x 3 columns]

In [5]:
result = conn.execute("""
    select *
        from read_parquet(
            's3a://blake/silver/breweries/**/*.parquet',
            hive_partitioning=1
        )
""").fetchdf()

print(result)

                      address_1 address_2 address_3 brewery_type  \
0              Schleppe-Platz 1      None      None        large
1               Brauhausgasse 6      None      None        large
2                         L67 7      None      None         nano
3     Mautner-Markhof-Stra�e 11      None      None        large
4           Dr.-Beurle-Stra�e 1      None      None        large
...                         ...       ...       ...          ...
8350                       None      None      None        micro
8351            312 Broadway St      None      None        micro
8352                2549 Hwy 16      None      None        micro
8353            528 Broadway St      None      None      brewpub
8354               1930 Main St      None      None      brewpub

                                        id            latitude  \
0     c88759b6-88d6-4172-bed7-61dec61e50aa    46.6416966591789
1     f51b3f3d-be14-40da-914a-3b5c83f75bbf   46.61662463422168
2     3fe1de22-c30c-446d-b2f2-913ca9f6378e   46.83992642711985
3     4c8dff75-fa8c-41ce-9999-1f063b59addb   48.14492358439182
4     0a366f8e-fd0d-4fe6-8ee5-054d8b725c8c   48.13735698305186
...                                    ...                 ...
8350  0fd5b8e5-1941-4bb6-95da-9e2ed09dd6a8                None
8351  1a5f4915-b1cf-4b45-a91c-cc1235f50e9f         44.80089512
8352  cc7e5d45-012e-45b6-8360-b1db2ddf8ada   44.02993496415743
8353  6fd50d10-b732-4eb1-9f20-3cd45ff45d21         43.64609158
8354  d2cd461c-a529-4394-b72a-3030975dbb22  42.065451356572375

                longitude                                  name  \
0      14.286632028634074          schleppe_brauerei_(heineken)
1       13.85168245858099         villacher_brauerei_(heineken)
2      14.355971213256488                            wimitzbr�u
3      16.467172715971294       schwechater_brauerei_(heineken)
4       15.15187581078461      wieselburger_brauerei_(heineken)
...                   ...                                   ...
8350                 None              sheridan_brewing_company
8351          -106.953506                black_tooth_brewing_co
8352  -107.46931490017033             ten_sleep_brewing_company
8353         -108.2107883  one_eyed_buffalo_brewing_company_llc
8354  -104.18461871085199           open_barrel_brewing_company

              phone postal_code    state_province                     street  \
0       +4346342700        9020           K�rnten           Schleppe-Platz 1
1     +434242277770        9500           K�rnten            Brauhausgasse 6
2      +43421228074        9311           K�rnten                      L67 7
3        +431701400        2320  Nieder�sterreich  Mautner-Markhof-Stra�e 11
4       +4374165010        3250  Nieder�sterreich        Dr.-Beurle-Stra�e 1
...             ...         ...               ...                        ...
8350     3076735333       82801           Wyoming                       None
8351     3076752337  82801-3917           Wyoming            312 Broadway St
8352     3073662074       82442           Wyoming                2549 Hwy 16
8353     3078643555  82443-2718           Wyoming            528 Broadway St
8354     3074010107  82240-2707           Wyoming               1930 Main St

                                  website_url             transformed_at  \
0                      http://www.schleppe.at 2025-02-05 14:30:22.848293
1                   https://www.villacher.com 2025-02-05 14:30:22.848293
2                  http://www.wimitzbraeu.com 2025-02-05 14:30:22.848293
3                  https://www.schwechater.at 2025-02-05 14:30:22.848293
4                  http://www.wieselburger.at 2025-02-05 14:30:22.848293
...                                       ...                        ...
8350                 https://sheridanbeer.com 2025-02-05 14:30:22.848293
8351  http://www.blacktoothbrewingcompany.com 2025-02-05 14:30:22.848293
8352         http://www.tensleepbrewingco.com 2025-02-05 14:30:22.848293
8353                                     None 2025-02-05 14:30:22.848293
8354            https://openbarrelbrewing.net 2025-02-05 14:30:22.848293

                          city        country             state
0     klagenfurt_am_w�rthersee        austria           karnten
1                      villach        austria           karnten
2                       wimitz        austria           karnten
3                    schwechat        austria  niederosterreich
4                   wieselburg        austria  niederosterreich
...                        ...            ...               ...
8350                  sheridan  united_states           wyoming
8351                  sheridan  united_states           wyoming
8352                 ten_sleep  united_states           wyoming
8353               thermopolis  united_states           wyoming
8354                torrington  united_states           wyoming

[8355 rows x 17 columns]